/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #111;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'nav nav nav'
        'section section aside';
    grid-auto-rows: auto;
    grid-gap: 30px;
    width: 100%;
}

a {
    color: white;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #232323;
}
input {
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: 1px rgb(240, 240, 240) solid;
    border-radius: 3px;
    box-shadow: 1px rgb(250, 250, 250);
}

section {
    grid-area: section;
    margin-left: 30px;
}

.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-subheading {
    display: flex;
    justify-content: space-between;
}

aside {
    grid-area: aside;
    margin-right: 30px;
}
aside header {
    display: flex;
    justify-content: space-between;
}
.related-video {
    display: flex;
    margin-bottom: 10px;
}
.thumbnail-container {
    position: relative;
    width: 168px;
    height: 94px;
}
.timestamp {
    position: absolute;
    bottom: 5%;
    right: 2.5%;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    background-color: #000;
    border-radius: 2px;
    opacity: 0.9;
}
.mix {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 94px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    white-space: pre-line;
    background-color: #000;
    opacity: 0.7;
}
.text-container {
    margin-left: 10px;
    white-space: pre-line;
}

.comments header {
    display: flex;
}